:root {

  --orange:black;
  --cyan:   rgb(64, 64, 212);
}
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
  }

  footer {
    width: 100%;
    background-image: url("cream.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    padding: 40px 30px;
    position: relative;
    height: fit-content;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px; 
  }

  .footer-column {
    flex: 1 1 fit-content;

}

  .footer-column h3 {
    font-size: 16px;
  color: rgb(0, 0, 0);

  }

  .footer-column {
    list-style: none;
  }

  .footer-column {
    margin-bottom: 8px;
  }


  .footer-column a, .footer-column p {
    text-decoration: none;
    color: var(--orange);
    font-size: 15px;
    margin:2px 0;
  }

  .footer-column a:hover {
    color: rgba(0, 0, 0, 0.522);
  }


  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13.5px;
    color: black;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-weight: 700;
  }


  @media (max-width:480px){

    footer{
      padding:15px;
      border-top: 1px solid black;
    }
    .footer-column{
      width: 100%;
    }
    .footer-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 15px; 
      padding-top: 10px;
    }
    .footer-bottom{
      margin-top: 0;
      padding-top: 5px;
      font-size: 12px;
    }
    .footer-image{
      width: 60%;
      height: auto;
    }

    .footer-column h3 {
      font-size: 17px;
    color: rgb(0, 0, 0);
  
    }
  }