:root {

  --orange:crimson;
  --cyan:royalblue;
}
body {
    margin: 0;
    font-family: Arial, sans-serif
  }
  
  /*Nav-----------------------------------*/
  .nav-bar {
    position: fixed;
    width: 100%;
    height: 46.9px;
    display: flex;
    background-color: #1f1f1f;
    color: white;
    z-index: 1000;
    transition: transform 0.5s ease, top 0.3s ease;
    flex-direction: column;
  }
  
  #nav-bar-1 {
    top: 0;
    height: 50px;
  
  }
  
  .navcol {
    color: var(--orange);
    height: 100%;
    align-content: center;
    padding: 0 10px;
    font-size: 26px;
    transition: color 0.3s ease, background-color 0.4s ease;
  }
  
  .navcol:hover {
    background-color: var(--orange);
    color: white;
    border-radius: 20px;
  }
  
  .navcol:first-child {
    margin-right: auto;
  }
  
  .navcol:first-child:hover {
    margin-right: auto;
    background-color: var(--cyan);
  }
  
  
  
  
  .navbarup {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* c64c39 */
  
  
  /*Searchbar-----------------------------------*/
  .searchbar {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 40px;
    background-color: var(--cyan);
    transition: background 0.3s ease;
  }
  
  .search-input {
    width:300px ;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    margin-left: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: #1f1f1f;
  
  }
  
  .searchbar:focus-within{
    background: var(--orange);
  }
  
  .search-input::placeholder,
  .search-icon {
  
    color: #1f1f1f;
  }

  /*Fonts-----------------------------------*/
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /*Font-Logo-----------------------------------*/
  
  .flogo-nav {
    position: relative;
    top: 7px;
    width: 220px;
    height: auto;
  }

  .numans-regular {
    font-family: "Numans", serif;
    font-weight: 600;
    font-style: normal;
  }
  