:root {

  --orange:black;
  --cyan:rgb(218, 16, 16,0.951);
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--cyan); /* Blue background */
  color: black;
  border: 2px solid black;
  border-radius: 50%; /* Circular shape */
  display: none; /* Initially hidden */
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.345);
  cursor: pointer;
  z-index: 1000; /* Ensure it appears above other elements */
  font-size: 22px; /* Font size for arrow */
  font-weight: bold;
}
#question-mark-button{
  display:block;
}
.scroll-to-top:hover {
  background-color: var(--cyan); /* Darker blue on hover */
}
